<html>
    <head>
        <title>Homepage</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Welcome</h1>
        <% if(messages.error){ %>
            <%= messages.error %>
        <% } %>
        <div id="login">
            <h2>Login here</h2>
            <form id="login-form" method="POST" action="/login">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Login">
            </form>
            <h2>New User? Register here</h2>
            <a href="/register">Register</a><br>
        </div>
    </body>
</html>